<% include partials/_header.ejs %>

<div class = "row">
    <div class = "col-md-8">

        <p>Player name: <%= player[0].name %></p>
        <p>Coin: <span id = "coin"><%= player[0].resources.coin.count %></span></p>
        <p>Player capital:  <%= player[0].capital %></p>
        <p>
        	HP:  <span id = "hp"><%= player[0].stats.hp %></span> 
            <br>
            Strength:  <%= player[0].stats.strength %> | Walls:  <%= player[0].stats.walls %>
        	<br>	
        	Footmen:  <span id = "footman-count"><%= player[0].units.footmen %></span>, lvl. <%= player[0].units.ft_lvl %>
        	<br>
        	Archers:  <%= player[0].units.archers %>, lvl. <%= player[0].units.ar_lvl %>
        </p>
        <p></p>

        <button id = "scout" >Scout</button>
        <button id = "build">Build</button>
        <button id = "block-auto">Auto Block</button>

        <br>
        <br>

        <p>Actions against you:</p>

        <% actions.forEach(function(action){ %>
            <% if (action.to == player[0].name) { %>
                <div class = "row">
                    <div class = "col-md-8 active-action" id = "<%= action.date %>">
                        <span class = "name"></span> attacked you for <span class = "weight"></span>. You have <span class = "mins-left"></span>:<span class = "secs-left"></span> to respond. 
                    </div>


                    <div class = "col-md-4 single-block-div">
                        <button class = "block-single-attack" id = "<%= action.date %>">block</button><br>
                    </div>
                </div>
            <% } %>
         <% }) %>
    </div>


    <div class = "col-md-4">
        <div class = "row bold">
                    <div class = "col-md-3">Name:</div>
                    <div class = "col-md-3">Actions:</div>
                    <div class = "col-md-2">HP:</div>
                    <div class = "col-md-4">Action:</div>
                </div>
        <% opponents.forEach(function(opponent){ %>
            <% if(opponent.name != player[0].name){ %>
                <div class = "row <%= opponent.name %> ">
                    <div class = "col-md-3"><%= opponent.name %></div>
                    <div class = "col-md-3 action-count">

                        
                        <% for(var i = 0; i < actions.length; i++) { %>
                            <% if (actions[i].to == opponent.name) { %>
                            x
                            <% }%>
                        <% } %>

                    </div>
                    <div class = "col-md-2" ><%= opponent.stats.hp %></div>
                    <div class = "col-md-4">
                        <button class = "action" data-action = "attack" data-name = <%= opponent.name %>>Attack</button><button class = "action" data-action = "spy" data-name = <%= opponent.name %>>Spy</button>
                    </div>
                </div>
                <br>
                <% } %>
        <% }) %>
    </div>
</div>

<br>

<hr>

<p>Create Units</p>

<div class = "row">
    <div class = "col-md-2">
        Footman
    </div>
    <div class = "col-md-1">
        100
    </div>
    <div class = "col-md-1">
        <button class = "buy-footman">Buy</button>
    </div>
</div>


<% include partials/_footer.ejs %>

<script src = "/gameActions.js"></script>