<% include partials/_header.ejs %>

<div class = "row">
    <div class = "col-md-8">

        <p>Player name: <%= player[0].name %></p>
        <p>Player capital:  <%= player[0].capital %></p>
        <p>
        	HP:  <span id = "hp"><%= player[0].stats.hp %></span> 
            <br>
            Strength:  <%= player[0].stats.strength %> | Walls:  <%= player[0].stats.walls %>
        	<br>	
        	Footmen:  <%= player[0].units.footmen %>, lvl. <%= player[0].units.ft_lvl %>
        	<br>
        	Archers:  <%= player[0].units.archers %>, lvl. <%= player[0].units.ar_lvl %>
        </p>
        <p></p>

        <button id = "scout" >Scout</button>
        <button id = "build">Build</button>
        <button id = "block">Block</button>

        <br>
        <br>

        <p>Actions against you:</p>
        <% var i = 0 %>
        <% actions.forEach(function(action){ %>
            
            <span class = <%= action.date %> >
                <% if (action.to == player[0].name) { %>
                    <%= action.from %> played a(n) <%= action.type %> for <%= action.data.weight%> on <%= Math.round(((Date.now() - action.date)/1000/60)) %> minutes ago<br>
                <% } %> 
            </span>
            
        <% }) %>
    </div>


    <div class = "col-md-4">
        <div class = "row bold">
                    <div class = "col-md-3">Name:</div>
                    <div class = "col-md-3">Actions:</div>
                    <div class = "col-md-2">HP:</div>
                    <div class = "col-md-4">Action:</div>
                </div>
        <% opponents.forEach(function(opponent){ %>
            <% if(opponent.name != player[0].name){ %>
                <div class = "row <%= opponent.name %> ">
                    <div class = "col-md-3"><%= opponent.name %></div>
                    <div class = "col-md-3 action-count">

                        
                        <% for(var i = 0; i < actions.length; i++) { %>
                            <% if (actions[i].to == opponent.name) { %>
                            x
                            <% }%>
                        <% } %>

                    </div>
                    <div class = "col-md-2" ><%= opponent.stats.hp %></div>
                    <div class = "col-md-4">
                        <button class = "action" data-action = "attack" data-name = <%= opponent.name %>>Attack</button><button class = "action" data-action = "spy" data-name = <%= opponent.name %>>Spy</button>
                    </div>
                </div>
                <br>
                <% } %>
        <% }) %>
    </div>
</div>

<br>



<% include partials/_footer.ejs %>

<script src = "/gameActions.js"></script>