<% include partials/_header.ejs %>

<div class = "row">
    <div class = "col-md-8">

        <p>Player name: <%= player.name %></p>
        <p>Coin: <span id = "coin"><%= player.resources.coin.count %></span><br>
        Food: <span id = "food"><%= player.resources.food.count %></span></p>
        <p>Player capital:  <%= player.capital %></p>
        <p>
        	HP:  <span id = "hp"><%= player.stats.hp %></span> 
            <br>
            Strength:  <%= player.stats.strength %> | Walls:  <%= player.stats.walls %>
            <br>
            Workers:  <span class = "unit" id = "worker-count"><%= units.worker.length %></span>
        	<br>	
        	Scout:  <span class = "unit" id = "footman-count"><%= units.scout.length%></span>
            <br>
            Footmen:  <span class = "unit" id = "footman-count"><%= units.footman.length%></span>
        	<br>
            Archers:  <span class = "unit" id = "archer-count"><%= units.archer.length %></span>
        </p>
        <p></p>

        <button id = "scout" >Scout</button>
        <button id = "build">Build</button>
        <button id = "block-auto">Auto Block</button>

        <br>
        <br>

        <p>Actions against you:</p>

        <% actions.forEach(function(action){ %>
            <% if (action.to == player.name) { %>
                <div class = "row">
                    <div class = "col-md-8 active-action" id = "<%= action.date %>">
                        <span class = "name"></span> attacked you for <span class = "weight"></span>. You have <span class = "mins-left"></span>:<span class = "secs-left"></span> to respond. 
                    </div>


                    <div class = "col-md-4 single-block-div">
                        <button class = "block-single-attack" id = "<%= action.date %>">block</button><br>
                    </div>
                </div>
            <% } %>
         <% }) %>
    </div>


    <div class = "col-md-4">
        <div class = "row bold">
                    <div class = "col-md-3">Name:</div>
                    <div class = "col-md-3">Actions:</div>
                    <div class = "col-md-2">HP:</div>
                    <div class = "col-md-4">Action:</div>
                </div>
        <% opponents.forEach(function(opponent){ %>
            <% if(opponent.name != player.name){ %>
                <div class = "row <%= opponent.name %> ">
                    <div class = "col-md-3"><%= opponent.name %></div>
                    <div class = "col-md-3 action-count">

                        
                        <% for(var i = 0; i < actions.length; i++) { %>
                            <% if (actions[i].to == opponent.name) { %>
                            x
                            <% }%>
                        <% } %>

                    </div>
                    <div class = "col-md-2" ><%= opponent.stats.hp %></div>
                    <div class = "col-md-4">
                        <button class = "action" data-action = "attack" data-name = <%= opponent.name %>>Attack</button><button class = "action" data-action = "spy" data-name = <%= opponent.name %>>Spy</button>
                    </div>
                </div>
                <br>
                <% } %>
        <% }) %>
    </div>
</div>

<br>

<hr>

<p>Create Units</p>

<div class = "row">
    <div class = "col-md-2">
        <strong>Unit</strong>
    </div>
    <div class = "col-md-1">
        <strong>Cost</strong>
    </div>
</div>
<div class = "row">
    <div class = "col-md-2">
        Footman
    </div>
    <div class = "col-md-1">
        100
    </div>
    <div class = "col-md-1">
        <button class = "buy-button" id = "footman">Buy</button>
    </div>
    <br>
</div>
<div class = "row">
    <div class = "col-md-2">
        Worker
    </div>
    <div class = "col-md-1">
        50
    </div>
    <div class = "col-md-1">
        <button class = "buy-button" id = "worker">Buy</button>
    </div>
</div>

<div class = "row">
    <div class = "col-md-2">
        Archer
    </div>
    <div class = "col-md-1">
        200
    </div>
    <div class = "col-md-1">
        <button class = "buy-button" id = "archer">Buy</button>
    </div>
</div>


<hr>

<p>Assign workers:</p>
<div class = "row">
    <div class = "col-md-2">Job:</div>
    <div class = "col-md-2">Assign:</div>
</div>
<% units.worker.forEach(function(unit){ %>
    <div class = "row">
        <div class = "col-md-2"><%= unit.job %></div>
        <div class = "col-md-6">
            <% if (unit.job != "none"){ %>
                <button class = "assign <%= unit.job  %>" data-action = "<%= unit.job  %>" data-id = <%= unit.id %> disabled><%= unit.jobMessage %></button>
                <button class = "assign <%= unit.job  %>" data-action = "none" data-id = <%= unit.id %>>Stop</button>
            <% } else { %>
                    <button class = "assign coin" data-action = "coin" data-id = <%= unit.id %>>Mine Coin</button>
                    <button class = "assign food" data-action = "food" data-id = <%= unit.id %>>Gather Food</button>
            <% } %>

        </div>
    </div>
<%})%>

<% player.resources %>


<% include partials/_footer.ejs %>

<script src = "/gameActions.js"></script>