<% include partials/_header.ejs %>

<p>Player name: <%= player[0].name %></p>
<p>Player capital:  <%= player[0].capital %></p>
<p>
	HP:  <span id = "hp"><%= player[0].stats.hp %></span> 
    <br>
    Strength:  <%= player[0].stats.strength %> | Walls:  <%= player[0].stats.walls %>
	<br>	
	Footmen:  <%= player[0].stats.footmen %>, lvl. <%= player[0].stats.ft_lvl %>
	<br>
	Archers:  <%= player[0].stats.archers %>, lvl. <%= player[0].stats.ar_lvl %>
</p>
<p></p>

<button id = "scout">Scout</button>
<button id = "build">Build</button>





<% include partials/_footer.ejs %>

<script src = "/gameActions.js"></script>